* {
  margin: 0px;
  padding: Opx;
  box-sizing: border-box;
}

.box {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid magenta;
  border-radius: 7px;
}

img {
  width: 100%;
}

.color {
  display: flex;
}

.bc {
  width: 20px;
  height: 20px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
